<p-panel header="Uncommon Pipes" class="p-1">
    <p>
        Included pipes in Angular - Usually at Common Module
    </p>
</p-panel>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <!-- instead of using a ngIf if is male or female -->
            <p>Saludos {{name}}, es un placer
                {{gender | i18nSelect:invitationMap}} a nuestro evento.</p>
            <p-button (onClick)="changeClient()" label="Change person">
            </p-button>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{clients.length | i18nPlural:clientsMap}} </p>
            <p-button
            label="Atender cliente"
            (onClick)="deleteClient()">
            </p-button>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre> {{clients}} </pre>
            <b>slice:0:2</b>
            <pre> {{clients | slice:0:2}} </pre>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            {{person | json}}
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of person | keyvalue">
                <b> {{item.key | titlecase}}:</b> {{item.value}}
                </li>
            </ul>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <!-- listen an observable/promise and when the component destroys,
         this makes the cleaning -->
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(myObservableTimer | async)">Resolviendo observable</pre>
            <pre>{{myObservableTimer | async}}</pre>


            <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre>
            <!-- promise value -->
            <pre>{{promiseValue | async}}</pre>
        </p-fieldset>
    </div>
</div>